@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body{
  margin: 0px;
  padding: 0px;
  background-color: #0e1525;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  /*background-color: #0e1525;*/
  font-family: "Poppins";
}



#searchButton {
  height: 60px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #0e1525;
  padding-left: 1%;
  padding-right: 1%;
  margin-right: %;
  margin-top: 3%;
  color: white;
  
}

body {
  text-align: center;
}