<html>
  <head>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="icon" href="/static/img/favicon.png">
    <title>Safe Vacation</title>
  </head>
  <body>
    <p style="font-size: 80px; margin-top: 150px; text-align: center; justify-content: center;">Know where you go.</p>
    <div style="width: 50%; margin: auto;">
      <p>Being safe from Covid is a huge concern for many people planning to go on vacation during this pandemic. That's why we created this app to help people know which places have a higher risk of contracting the virus from. Simply search for the city that you want to visit, and the app will provide you with a risk score that is calculated using data from multiple sources, such as <a href="https://apidocs.covidactnow.org/">covidactnow.org</a> and the <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html">CDC</a>.</p>
    </div>
    <a href="/app"> <button type="button" id="searchButton" >Launch The App</button></a>

    <p style="position: absolute; bottom: 0px; font-size: 10px; color: gray">Page icon from <a href="https://icons8.com/icon/59829/map-marker" style="color: #6577ac">icons8.com</a>.</p>
  </body>
</html>


