<html>
  <head>
    <link rel="stylesheet" href="/static/home.css">
    <script src="/static/home.js"></script>
  </head>
  <body>
    <p style="font-size: 80px; margin-top: 150px; text-align: center; justify-content: center;">Know where you go.</p>
      <form  action="javascript: search_bar_handler()">
        <div style="display: flex; width: 25%; text-align: center; margin-top: 50px; /*margin-left: 550px;*/">
          <input type="text" placeholder="Enter a city..." id="search_bar" name="Search" value="" style="width: 100%;">
          <input type="submit" id="searchButton" value="Submit" id="searchButton">
        </div>
      </form>
  </body>
</html>


